@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;
}

.ql-editor img {
  display: inline-block;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}